{% extends 'base.html.twig' %}


{% block body %}
    <div class="container">
    {% if session.user.is_connected %}
            <div class="row">
                <div class="col-lg-3">
                    {{ include('app/user/_partials/menu.html.twig') }}
                </div>
                <div class="col-lg-9">
                    {% block content %}{% endblock %}
                </div>
            </div>
    {% else %}
        <p>Vous n'êtes pas connecté. Veuillez vous connecter pour accéder à votre compte.</p>
    {% endif %}
    </div>
{% endblock %}