{% extends 'base.html.twig' %}

{% block page_title %}Nouveau mot de passe{% endblock %}
{% block class_css %}reset-password{% endblock %}


{% block body %}
    <div class="container d-flex align-items-center justify-content-center vh-100">
        <div class="card w-50">
            <div class="card-body">
                <h1 class="card-title text-center">Nouveau mot de passe</h1>

                {% if message_success %}
                    <div class="alert alert-success">{{ message_success }}</div>
                {% endif %}
                {% if message_error %}
                    <div class="alert alert-danger">{{ message_error }}</div>
                {% endif %}

                <form action="" method="post">
                    <div class="mb-3">
                        <label for="password" class="form-label">mot de passe :</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="mb-3">
                        <label for="password_confirm" class="form-label">confirmation :</label>
                        <input type="password" class="form-control" id="password_confirm" name="password_confirm" required>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}