{% extends 'base.html.twig' %}

{% block page_title %}Ajouter un article{% endblock page_title %}

{% block body %}
    <h1>Ajouter un article</h1>
    <form action="{{ path('add_post') }}" method="post">
        <div>
            <label for="title">Titre :</label>
            <input type="text" id="title" name="title">
        </div>
        <div>
            <label for="content">Contenu :</label>
            <textarea id="content" name="content"></textarea>
        </div>
        <button type="submit">Ajouter</button>
    </form>
{% endblock body %}