<div class="nav flex-column nav-pills" id="account-menu" role="tablist" aria-orientation="vertical">
    <a class="nav-link" id="profile-tab" href="/mon-compte">Mon compte</a>
    {% if session.user.role == 'administrateur' %}
        <a class="nav-link" id="profile-tab" href="/admin/articles">Articles</a>
        <a class="nav-link" id="profile-tab" href="/admin/commentaires">Commentaires</a>
        <a class="nav-link" id="profile-tab" href="/admin/utilisateurs">Utilisateurs</a>
    {% endif %}
    <a class="nav-link" id="logout-tab" style="color: red" href="/deconnexion">Déconnexion</a>
</div>